.num-wrap
  width: 100%
  display flex
  align-items flex-end
  justify-content space-between
  font-size $font-size-13
// 详情 主页面 现金价金豆组合
.pay-money
  color: $color-money

  .money-icon
    margin-right:1px
    font-size $font-size-16
    font-family $font-family-din-bold

  .num
    font-size $font-size-23
    font-family $font-family-din-bold

  .add-icon
    font-size $font-size-22
  .icon-bean-y
    width: 19px
    height: 18px
  &.common
    color: $color-text-main
  //   详情弹框金额  ，提交订单总额，购物车订单总额
  &.middle
    .money-icon
      font-size $font-size-13

    .num
      font-size $font-size-19

    .add-icon
      font-size $font-size-18

    .icon-bean-y
      width: 16px
      height: 15px

  //  提交订单实付金额
  &.small
    .money-icon
      font-size $font-size-12

    .num
      font-size $font-size-15

    .add-icon
      font-size $font-size-17

    .icon-bean-y
      width: 15px
      height: 14px
  //    购物车商品单个金额
  &.mini
    .money-icon
      font-size $font-size-11

    .num
      font-size $font-size-17

    .add-icon
      font-size $font-size-16

    .icon-bean-y
      width: 14px
      height: 13px
  //    提交订单商品单个金额
  &.mini-small
    .money-icon
      font-size $font-size-11

    .num
      font-size $font-size-14

    .add-icon
      font-size $font-size-13

    .icon-bean-y
      width: 14px
      height: 13px
